.gif {
  height: 200px;
}

body {
  width: 1280px;
  margin: 0 auto !important;
  padding-top: 60px;
  padding-left: 25px;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  padding: 50px;
}